# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Exclude node_modules, dist, and dist-ssr
node_modules
dist/
dist-ssr/

# Exclude specific files and directories inside dist
dist/**
!dist/.keep  # Add exceptions if necessary

# Exclude .local
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?